@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: #01BEFE;
     font-family: 'Arimo', sans-serif;
     color: rgb(46, 46, 46);
     overflow: hidden;
 }

 h1 {
    font-size: 45px;
    margin: 26vh 18vw;
}

 img {
     margin: -590px 55vw;
     height: 350px;
 }

 h2 {
     font-size: 20px;
     margin: -25vh 6.5vw;
 }

 form {
     display: flex;
     flex-direction: column;
     margin: 28vh 15vh;
 }

 input {
     margin: 10px;
     border: none;
     text-align: center;
     background-color: rgb(216, 216, 216);
     border-radius: 20px;
     width: 350px;
     height: 50px;
}

 .btn {
     cursor: pointer;
     font-weight: bold;
     background-color: #FFDD00;
 }

 .btn:hover {
     background-color: #FF7D00;
     transition: 0.5s;
 }

 @media only screen and (max-width: 600px) {

    h1 {
        margin: 25vw 16vh;
    }

    h2 {
        white-space: nowrap;
        font-size: 14px;
        margin: -24vw 5.5vh;
    }

    form{
        display: flex;
        margin: 15vh 10vw;
    }

    input {
        width: 300px;
        border-radius: 30px;
        height: 70px;
    }

    img {
        margin: -30vw 11vh;
        height: 150px;
    }

 }

 @media only screen and (max-width: 400px) {
    
    h1 {
        display: fixed;
        margin: 28vw 16vh;
    }

    h2 {
        font-size: 11px;
        margin: -25vw 8vh;
    }

    form {
        display: block;
        margin: 15vh 5vw;
        height: 350px;
    }

    input {
        width: 300px;
        border-radius: 30px;
    }

    img {
        margin: -23vw 13vh;
        height: 120px;
    }
 }
